<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Taman Musik</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!loading && isLoggedIn" class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="/dashboard">Dashboard</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="/upload">Upload</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Team</a></li>
        <li *ngIf="!loading && isLoggedIn" class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img class="masthead-avatar mb-5" src="../../assets/img/musik1.png" alt="" />
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0">Taman Musik</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">Tempat Play Musik Pop Tahun 2000-an</p>
  </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Musik</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Musik Items-->
    <div class="row justify-content-center">
      <!-- Musik Item 1-->
      <div class="col-md-6 col-lg-4 mb-5" *ngIf="loading">
        <div class="portfolio-item mx-auto">
          <p style="text-align: center;">Mengambil data lagu.......</p>
          
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5" *ngFor="let n of allSongs">
        <div class="portfolio-item mx-auto" data-toggle="modal">
          <p style="text-align: center;">{{n.title}}</p>
          <p style="text-align: center;">{{n.artist}}</p>
          <audio controls src="{{n.url}}" type="video/youtube">
          </audio>
        </div>
      </div>

      <!-- <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal">
          <p align="center">Peterpan-Yang Terdalam</p>
          <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div> -->
      <!-- Portfolio Item 3-->
      <!-- <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal">
          <p align="center">Ungu-Sejauh Mungkin</p>
          <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div> -->
      <!-- Portfolio Item 4-->
      <!-- <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div class="portfolio-item mx-auto" data-toggle="modal">
          <p align="center">Radja-Mimpi Indah</p>
          <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div> -->
      <!-- Portfolio Item 5-->
      <!-- <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
        <div class="portfolio-item mx-auto" data-toggle="modal">
          <p align="center">Slank-Terlalu Manis</p>
          <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div> -->
      <!-- Portfolio Item 6-->
      <!-- <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal">
          <p align="center">sheila-on-7-Berhenti Berharap</p>
          <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- Contact Section-->
<section class="page-section" id="contact">
  <div class="container">
    <!-- Contact Section Heading-->

  </div>
</section>
<!-- Footer-->
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Nama Dosen-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Nama Dosen</h4>
        <p class="lead mb-0">
          Dr. Mursid W Hananto, S.Si., M.Kom.
          <br />

        </p>
      </div>
      <!-- Footer Mata Kuliah-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Tugas Mata Kuliah Sistem Informasi Multimedia <br>-Kelas A-</h4>
      </div>
      <!-- Footer Universitas-->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">Universitas Ahmad Dahlan</h4>
        <p class="lead mb-0">
          Fakultas Sains dan Teknologi<br>
          <a href="https://is.uad.ac.id">Sistem Informasi</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
  <div class="container"><small>Copyright © PUNAKAWAN-SQUAD</small></div>
</div>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed">
  <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
</div>
