<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Taman Musik</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="/login">Login</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="/register">Sign Up</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Team</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Masthead-->
<header class="masthead text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Icon Divider-->
    <br>
    <div class="bg-primary">
    <div class="login-box" style="margin-top: 100px;">
      <h2>Register</h2>
      <form>
        <div class="user-box">
          <input type="text" [(ngModel)]="user.nama" name="nama" #nama="ngModel" required>
          <label>Nama Pengguna</label>
        </div>
        <div class="user-box">
          <input type="text" [(ngModel)]="user.email" name="email" #email="ngModel" required>
          <label>Email</label>
        </div>
        <div class="user-box">
          <input type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required>
          <label>Password</label>
        </div>
        <div class="user-box">
          <input type="password" [(ngModel)]="user.password2" name="password2" #password2="ngModel" (keyup)="checkMatch()" required>
          <label>Ulangi Password</label>
        </div>
        <span *ngIf="error" style="font-size: medium; color: white;" class="text-wrap">{{error.message}}</span>
        <p *ngIf="match == false" style="color: white;">Confirmation New Password not match!</p>
        <a (click)="register()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
      </form>
    </div>
    </div>
  </div>
</header>
